*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #222;
    overflow-x: hidden;
}

.header{
    width: 100%;
    position: static;
    top: 0;
    z-index: 100;
    background-color: white;
    backdrop-filter: blur(10px);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #a86f5c;
    text-decoration: underline;
    text-underline-offset: 6px; /* adds a clean gap between text and underline */
}

.navright{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

.logo{
    font-family:'Playfair Display', serif;
    font-size: 2.5rem;
    color: black;
}

.sign-btn {
    border: 2px solid #333;
    background: transparent;
    padding: 0.4rem 0.8rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.sign-btn:hover {
  background: #333;
  color: #fff;
}

.mainscreen{
    height: 110vh;
    background: url('/womenbg.png') no-repeat center center/cover;
    position: relative;
    justify-content: center;
    text-align: start;
    color: #fff;
}

/* Hero Section */
.hero {
  padding-top: 140px;
  text-align: center;
}

.mainscreen h1 {
  font-size: 36px;
  padding-left: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  width: 80%;
  margin: 0 auto;
}

.product {
  background: #f1acac;
  color: black;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.product h3::before {
  content: "";
  display: block;
  width: 100%;              
  height: 2px;
  background: black;      
  margin: 10px 0;           
  border-radius: 2px;
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.product h3 {
  padding: 8px 0;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: 500;
}

.product p {
  font-weight: bold;
}

.product:hover {
  transform: scale(1.05);
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}